<ion-header>
	<ion-navbar>
		<ion-title>
			New Match
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-list radio-group>
		<ion-list-header>
			Match Details
		</ion-list-header>

		<ion-item>
			<ion-label>Win</ion-label>
			<ion-radio checked="true" value="W"></ion-radio>
		</ion-item>

		<ion-item>
			<ion-label>Loss</ion-label>
			<ion-radio value="L"></ion-radio>
		</ion-item>

		<ion-item>
			<ion-label>Tie</ion-label>
			<ion-radio value="T"></ion-radio>
		</ion-item>

		<ion-item>
			<ion-label>Map</ion-label>
			<ion-select [(ngModel)]="map">
				<ion-option *ngFor="let map of maps" value="{{map.Value}}">
					{{map.Name}}
				</ion-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label>Mode</ion-label>
			<ion-select [(ngModel)]="mode">
				<ion-option *ngFor="let mode of modes" value="{{mode.Value}}">
					{{mode.Name}}
				</ion-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label>Kills</ion-label>
			<ion-input type="number"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>Deaths</ion-label>
			<ion-input type="number"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>Assists</ion-label>
			<ion-input type="number"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>Round Wins</ion-label>
			<ion-input type="number"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>Round Losses</ion-label>
			<ion-input type="number"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>Date</ion-label>
			<ion-input type="date"></ion-input>
		</ion-item>

	</ion-list>

</ion-content>