<ion-header>
	<ion-navbar>
		<ion-title>Home</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-searchbar 
		[(ngModel)]="filterValue" 
		(ionCancel)="filterValue = ''" 
		(ionInput)="filterUsers()">
	</ion-searchbar>

	<ion-fab right bottom>
    <button ion-fab (click)="showMatchModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

	<ion-list>

		<button ion-item
			*ngFor="let user of filteredUsers"
			[navPush]="profilePage"
			[navParams]="user">
			<ion-avatar item-left>
				<img src="{{user.photo}}">
			</ion-avatar>
			<h2>{{user.name}}</h2>
			<p>1.23 KD</p>
		</button>

	</ion-list>

	<!--<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.user.gamertag}}
  </li>
</ul>-->

</ion-content>